@{
    ViewBag.Title = "AnaSayfa";
}

<div class="row">
    <div class="col-md-9">
        @Html.Action("KursListele", "Home")
    </div>
    <div class="col-md-3">
        @*@Html.Action("SonYorumlar", "Home")
        @Html.Action("CokKullanilanEtiketler", "Home")*@
    </div>
</div>